<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @website.url %>
</p>

<p>
  <strong>Status:</strong>
  <%= @website.status %>
</p>

<p>
  <strong>Lastchecked:</strong>
  <%= @website.lastchecked %>
</p>

<%= link_to 'Edit', edit_website_path(@website) %> |
<%= link_to 'Back', websites_path %>
